*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
nav{
    position: absolute;
    width: 100%;
}

.container{
     width: 1170px;
     margin: 0 auto;
}
.nav_main{
   display: flex;
   justify-content: space-between;
    

    
    
}
.nav_menu ul li {
 
 display: inline-block;
 padding-top: 44px;


}
.nav_logo{
    padding-top: 44px;
  
}

.nav_menu ul li a{
    padding: 0 10px;
    color: #fff;
  
}
.nav_menu ul li:hover a{
    color: #e7ad48;
}
.nav_menu ul li:last-child a{
    padding-right: 0;
}


#banner{
 background: linear-gradient(rgba(19,5,35,0.501),rgba(19,5,35,0.501)),url(../images/bg.jpg) no-repeat center / cover;
   
}
.banner_text{
    text-align: center;
    color: #fff;
}
.banner_text h1{
    padding-top: 245px;
    font-family: 'Open Sans', sans-serif;
    font-size: bold
   
}
.banner_text h5{
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;

}
.ban_btn{
  text-align: center;
  padding-bottom: 100px;
}
.ban_btn a{
    padding: 10px 15px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #709dca;
    font-family: 'Open Sans', sans-serif;
    
}
#offer{
    padding-top: 85px;
    background-color: #ffffff;
}
.offer{
    text-align: center;

}
.offer h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
     color: #709dca;
     position: relative;
}
.offer h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.offer_main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}

.offer_item{
    width: 50%;
    padding: 40px 50px;
}
.offer_inner{
    padding-left: 50px;
    position: relative;
}
.offer_inner h4{
    font-family: 'Open Sans', sans-serif;

}
.offer_inner p{
    padding-top: 20px;
    font-size: 17px;
}
.offer_inner i{
    position: absolute;
    top: 0;
    left: 0;
}



.offer_inner:hover i{
    color:#ffc155;
}

#img{
    /* background-color: #ffc155; */
   
}



.bg_main{
    display: flex;
    width: 100%;
    padding-top: 100px;
}
.bg_img{
  

   
    display: flex;
}
.bg_text{
    background-color: #ffc155;
    width: 50%;
    
}
    .text{
        width: 585px;
        padding-top: 100px;
       padding-left: 95px;
       color: #fff;
    }

.text h2{
    
   
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    
}

.text p{
    font-family: 'Open Sans', sans-serif;
    padding-top: 45px;
}
.text a{
     padding: 10px 20px;
     border: 1px solid white;
     background-color: #e7ad48;
     color: #fff;
     margin-top: 90px;
     margin-bottom: 80px;
}

#work{
    padding-top: 100px;
}
.work_text{
    text-align: center;
}

.work_text h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
     color: #709dca;
     position: relative;
 

}

.work_text i{
    color: #ffc155;
   
}

.work_text h2::after{
    content: "";
    position: absolute;
    top: 51px;
    left: 52%;
    width: 100px;
    height: 1px;
    background-color: #ffc155;
  
}


.work_text h2::before{
    content: "";
    position: absolute;
    top: 51px;
    right: 52%;
   
    width: 100px;
    height: 1px;
    background-color: #ffc155;
   
}

.work_text p{
padding: 40px 200px;
font-family: 'Open Sans', sans-serif;
}
.work_menu ul{
    text-align: center;
}
.work_menu ul li{
    display: inline-block;
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   
   
}
.work_menu ul li a{
    color: black;
    padding: 0 20px;
}

.work_menu ul li a:hover{
    background-color: #709dca;
    color: white;
border-radius: 5px;
}
.work_img{
    padding-top: 40px;
   
    display: flex;
    flex-wrap: wrap;
    gap:0px;
}
.work_img_inner{
    width: 25%;
}


.img{
    width: 100%;
    height: 100%;
    position: relative;
}

.work_img_inner .img img{
    width: 100%;
    height: 100%;

}
.img_tx i{
  padding-left: 80px;
  padding-bottom: 20px;
}

.img_tx p{
    padding-top: 20px;
    padding-left: 60px;
}

.img_over{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.img:hover .img_over{
    background-color: rgba(193, 211, 35, 0.501);
    opacity: 1;
}




#test{
    padding-top: 75px;
}

.test_text{
  
    text-align: center;
}
.test_text h2{
    position: relative;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
     color: #709dca;
}

.test_text i{
    color: #e7ad48;
   
   
}
.test_text h2::after{
    content: "";
    position: absolute;
    top: 51px;
    left: 52%;
    width: 100px;
    height: 1px;
    background-color: #ffc155;
}

.test_text h2::before{
    content: "";
    position: absolute;
    top: 51px;
    right: 52%;
    width: 100px;
    height: 1px;
    background-color: #ffc155;
}
.test_m{
    display: flex;
    justify-content: space-between;
}
.test_item{
    width: 45%;
    padding-top: 80px;
}
.test_item p {
    background: #f6f3f3;
    padding: 15px;
}


.test_inner{
    display: flex;
    padding: 15px;
}
.test_inner h3{
    padding-left: 10px;
    padding-bottom: 100px;
}



.ff{
    background-color: #709dca;
    width: 100%;
  background: #273a43;
}

.foot_main{
    display: flex;
   
    
   

}
.foot_item{
    width: 23%;
    padding-top: 75px;
    padding-left: 28px;
    padding-bottom: 80px;
  
}
.foot_item:last-child{
    padding-right: 0;
}
.foot_item h2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.foot_item p{
    padding-top: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.foot_i{
    display: flex;
    padding-top: 15px;
}

.foot_icon{
    color: #709dca;
}

.foot_te{
    padding-left: 10px;
    color: #fff;
}

.foot_te h6{
    color: #709dca;
    font-family: 'Open Sans', sans-serif;
}
.foot_te span{
    font-family: 'Open Sans', sans-serif;
}

.form{
    padding-top: 45px;
}

.input{
    height: 35px;
    width: 165px;
    background-color: #172227;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    text-align: center;
    
}
.btn{
    width: 80px;
    height: 35px;
    margin: 0 -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    background: #71b6d5;
}
#last{
   background: #172227;
   height: 90px;
   width: 100%;
}
.last_text{
    display: flex;
    
    justify-content: space-around;
 
}
.last_t{
    width: 50%;
}
.last_t p{
    padding-top: 35px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
 
   
}
